<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Quản lý sản phẩm</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body id="body">
  <div class="container">


    <header class="display-4 my-4 text-center">Quản lý học viện nghiên cứu &
      giảng dạy</header>
    <!-- Phan tab menu -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#DanhSachSP" role="tab" data-toggle="tab">Danh sách sản phẩm</a>
      </li>
    </ul>
    <br />
    <!-- Tab panes -->
    <div class="tab-content">
      <!--Danh sách sản phẩm -->
      <div role="tabpanel" class="tab-pane in active" id="DanhSachSP">
        <div class="row">
          <div class="col-md-8">
            <!-- BEGIN BUTTOM THÊM MỚI -->
            <button id="btnThemSP" class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="reset()">
              <i class="fa fa-plus mr-1"></i>
              Thêm Mới
            </button>

            <button id="btnStudent" class="btn btn-success" data-toggle="modal" data-target="#myModal">
              <i class="fa fa-plus mr-1"></i>
              Thêm Students
            </button>


            <button id="btnEmployee" class="btn btn-success" data-toggle="modal" data-target="#myModal">
              <i class="fa fa-plus mr-1"></i>
              Thêm Employee
            </button>

            <button id="btnCustomer" class="btn btn-success" data-toggle="modal" data-target="#myModal">
              <i class="fa fa-plus mr-1"></i>
              Thêm Customer
            </button>

            <!-- END BUTTON THÊM MỚI -->
          </div>
          <div class="col-md-4">
            <!-- BEGIN TÌM KIẾM -->
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Nhập từ khóa" aria-label="Recipient's username"
                aria-describedby="basic-addon2" />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
              </div>
            </div>
            <!-- END TÌM KIẾM -->
          </div>
        </div>
        <div class="clear-fix"></div>
        <div class="tblSanPham" id="tblSanPham">
          <!-- BEGIN TABLE SẢN PHẨM -->
          <table class="table table-bordered">
            <thead>
              <th>Id</th>
              <th>Name</th>
              <th>Address</th>
              <th>Code</th>
              <th>Email</th>
              <th>Math</th>
              <th>Physic</th>
              <th>Chemistry</th>
              <th>WorkDays</th>
              <th>DailyWage</th>
              <th>CompanyName</th>
              <th>Value</th>
              <th>Rating</th>

            </thead>
            <tbody id="tblDanhSachSP"></tbody>
          </table>
          <!-- END TABLE SẢN PHẨM -->
        </div>
        <br />
      </div>
      <!-- Kết thúc danh sách sản phẩm -->
    </div>

    <!--KetThuc Tabmenu-->

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <label>Name</label>
              <input id="name" class="form-control" placeholder="Nhập tên" />
            </div>
            <div class="form-group">
              <label>Address</label>
              <input id="address" class="form-control" placeholder="Nhập địa chỉ" />
            </div>
            <div class="form-group">
              <label>Code</label>
              <input id="code" class="form-control" placeholder="Nhập mã" />
            </div>
            <div class="form-group">
              <label>Email</label>
              <input id="email" class="form-control" placeholder="Nhập email" />
            </div>

            <!-- Model Student -->
            <div class="form-group">
              <label>Math</label>
              <input id="math" class="form-control" placeholder="Nhập điểm môn toán" />
            </div>

            <div class="form-group">
              <label>Physic</label>
              <input id="physic" class="form-control" placeholder="Nhập điểm môn lý" />
            </div>
            <!-- 
           

            <div class="form-group">
              <label>Chemistry</label>
              <input id="chemistry" class="form-control" placeholder="Nhập điểm môn hóa" />
            </div> -->


            <!-- Model Employee -->

            <!-- <div class="form-group">
              <label>WorkDays</label>
              <input id="workDays" class="form-control" placeholder="Nhập số ngày làm việc" />
            </div>

            <div class="form-group">
              <label>DailyWage</label>
              <input id="dailyWage" class="form-control" placeholder="Nhập lương theo ngày" />
            </div> -->

            <!-- Model Customer -->

            <!-- <div class="form-group">
              <label>CompanyName</label>
              <input id="companyName" class="form-control" placeholder="Nhập tên công ty" />
            </div>

            <div class="form-group">
              <label>Value</label>
              <input id="value" class="form-control" placeholder="Nhập trị giá hóa đơn" />
            </div>

            <div class="form-group">
              <label>Rating</label>
              <input id="rating" class="form-control" placeholder="Nhập đánh giá" />
            </div> -->

          </div>
          <!-- Modal footer -->
          <div class="modal-footer"></div>

        </div>
      </div>
    </div>
  </div>
  <div id="container">

  </div>
  <style>
    #container {
      min-width: 310px;
      max-width: 800px;
      height: 400px;
      margin: 0 auto;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <!-- axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"
    integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="module" src="./../controllers/index.js"></script>
</body>

</html>